{%extends basic.html%}

{% block content%}

<h1 class="page-title">
    <i class="icon-pushpin"></i>
    Goods-Info-Manage
</h1>

<div class="widget">
    <div class="widget-content">
        <form class="navbar-form page-header" method="get" action="/goods/create" style="float: left">
            <div class="control-group" style="margin-top: -12px;margin-left: 1px;float: left">
                <div class="controls">
                    <button type="submit" class="btn btn-success input-block-level">添加新商品</button>
                </div>
            </div>
        </form>
        <form class="navbar-form page-header" method="get" action="/search" style="float: right">
            <input type="text" class="form-control" placeholder="按照商品名称" name="goodsname" style="margin-top: -13px;margin-left: 220px;float: left">
            <div class="control-group" style="margin-top: -13px;margin-left: 1px;float: left">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <div class="widget widget-table">

            <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>商品列表</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="4%">#</th>
					        <th width="8%">商家ID</th>
                            <th width="10%">商品名称</th>
					        <th width="20%">图片列表</th>
					        <th width="15%">商品介绍</th>
					        <th width="8%">创建时间</th>
					        <th width="6%">状态</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for goods_info in goods_info_list%}
                        <tr>
                            <td><a href="/goods/view?id={{ goods_info['id'] }}">{{ goods_info['id'] }}</a></td>
                            <td>{{ goods_info['owner'] }}</td>
                            <td>{{ goods_info['goodsname'] }}</td>
                            <td>{{ goods_info['picurls'] }}</td>
                            <td>{{ goods_info['goodsdesp'] }}</td>
                            <td>{{ goods_info['created_at'][0:10] }}</td>
                            <td>
                                {%if goods_info['status'] == 'err' %}
                                    下架
                                {% else %}
                                    在售
                                {% end %}
                            </td>
                            <td>

                                {%if goods_info['status'] == 'err' %}
                                    <button type="button" onclick="activeGoodsStatus(this)"
                                        value="{{ goods_info['id'] }}"
                                        name="goods_id"
                                        class="btn btn-mini btn-success btn-xs" >恢复</button>

                                    <button type="button" disabled="disabled" class="btn btn-mini btn-default btn-xs">屏蔽</button>
                                {% else %}
                                    <button type="button" disabled="disabled" class="btn btn-mini btn-default btn-xs">恢复</button>
                                    <button type="button" onclick="shieldGoodsStatus(this)"
                                        value="{{ goods_info['id'] }}"
                                        name="goods_id"
                                        class="btn btn-danger btn-mini btn-xs">屏蔽</button>
                                {% end %}

                            </td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>

                {%if total_page > 1%}
                <div id="page-section">
                    <a href="/index"><button type="button" class="btn btn-default">First</button></a>

                    {%if cur_page > 1%}
                        <a href="/index?page={{cur_page-1}}"><button type="button" class="btn btn-default">{{cur_page-1}}</button></a>
                    {%end%}

                    <button type="button" class="btn btn-default" style="border-color:#388BFF">{{cur_page}}</button>

                    {%if total_page-cur_page > 10%}
                        {%for i in range(cur_page+1, cur_page+5)%}
                            <a href="/index?page={{i}}"><button type="button" class="btn btn-default">{{i}}</button></a>
                        {%end%}
			                <a href="/index?page={{cur_page+5}}"><button type="button" class="btn btn-default">...</button></a>
                        {%for i in range(total_page-5, total_page+1)%}
                            <a href="/index?page={{i}}"><button type="button" class="btn btn-default">{{i}}</button></a>
                        {%end%}
                    {%end%}

                    {%if total_page-cur_page <= 10%}
                        {%for i in range(cur_page+1, total_page+1)%}
                            <a href="/index?page={{i}}"><button type="button" class="btn btn-default">{{i}}</button></a>
                        {%end%}
                    {%end%}
		                <a href="/index?page={{total_page}}"><button type="button" class="btn btn-default">Last</button></a>

                </div>
                {%end%}
            </div>
        </div>

    </div>
</div>

{% end %}

{% block js %}
<script type="text/javascript">
	$("#main-nav li").eq(0).attr('class', 'active');
	function activeGoodsStatus(obj){
		$.post("/goods/active", {goods_id:obj.value} ,
			function(){
				location.reload(true); // 刷新页面很重要
		});
	}
    function shieldGoodsStatus(obj){
		$.post("/goods/shield", {goods_id:obj.value} ,
			function(){
				location.reload(true); // 刷新页面很重要
		});
	}
</script>
{% end %}